html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 320px;
  background-color: rgb(20, 20, 20);
  background-image: url("background.jpg");
  background-size: cover;
}

h1, h2, p {
  margin: 0;
}
